In [186]:
import pandas as pd
import json

In [187]:
with open('../data/KorQuAD_v1.0_train.json', 'r', encoding='utf-8-sig') as f:
    wiki = json.load(f)

In [188]:
nf = pd.DataFrame(columns = ['title', 'context', 'question', 'id', 'answers', 'document_id', '__index_level_0__'])
def append_row(df, row):
    return pd.concat([
                df, 
                pd.DataFrame([row], columns=row.index)]
           ).reset_index(drop=True)

In [200]:
super_list = []

dict = {}

for i in range(len(wiki['data'])):
    data = wiki['data'][i]
    title = data['title']
    dict['title'] = title
    for j in range(len(data['paragraphs'])):
        paragraph = data['paragraphs'][j]
        context = paragraph['context']
        dict['context'] = context

        qas = paragraph['qas']
        for k in range(len(qas)):
            sentence = qas[k]  
            answers = sentence['answers']
            dict['answers'] = answers
            
            id = sentence['id']
            dict['id'] = id
            
            dict['question'] = sentence['question']
            # for l in range(len(answers)):
            #     text = answers[l]['text']
            #     answer_start = answers[l]['answer_start']
            nf = append_row(nf, pd.Series(dict))
            #super_list.append(dict)

In [202]:
nf.to_json('korquad_processed.json', orient='columns')

In [203]:
with open('korquad_processed.json', 'r', encoding='utf-8-sig') as f:
    kor = json.load(f)

In [204]:
kor_d = pd.DataFrame(kor)

In [578]:
kor_d

,title,context,question,id,answers,document_id,__index_level_0__
0,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,바그너는 괴테의 파우스트를 읽고 무엇을 쓰고자 했는가?,6566495-0-0,"[{'text': '교향곡', 'answer_start': 54}]",None,None
1,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,바그너는 교향곡 작곡을 어디까지 쓴 뒤에 중단했는가?,6566495-0-1,"[{'text': '1악장', 'answer_start': 421}]",None,None
2,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,바그너가 파우스트 서곡을 쓸 때 어떤 곡의 영향을 받았는가?,6566495-0-2,"[{'text': '베토벤의 교향곡 9번', 'answer_start': 194}]",None,None
3,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,1839년 바그너가 교향곡의 소재로 쓰려고 했던 책은?,6566518-0-0,"[{'text': '파우스트', 'answer_start': 15}]",None,None
4,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,파우스트 서곡의 라단조 조성이 영향을 받은 베토벤의 곡은?,6566518-0-1,"[{'text': '합창교향곡', 'answer_start': 354}]",None,None
...,...,...,...,...,...,...,...
60402,뉴델리_메탈로-베타락타마제,"유전자의 이름은 인도의 수도 뉴델리의 이름을 따 붙여졌는데, 이는 2009년 용 (...",뉴델리 메탈로 베타락마제가 처음 감염 된 지역은 어디인가?,6467478-1-1,"[{'text': '인도', 'answer_start': 73}]",None,None
60403,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",균은 유전자를 균에게 전달 할 수있는데 이러한 현상을 나타낸 용어는 무엇인가?,6467478-2-0,"[{'text': '유전자 전달', 'answer_start': 253}]",None,None
60404,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",박테리아가 NDM-1 유전자를 가지고 있을때 발생하는 전파를 분석하기위해 사용된 영...,6467478-2-1,"[{'text': '37건', 'answer_start': 129}]",None,None
60405,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",NDM-1 유전자를 가진 박테리아가 감수성을 보인 폴리믹슨 계열 항생제는?,6490801-2-0,"[{'text': '콜리스틴', 'answer_start': 404}]",None,None
60406,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...","2010년 8월, NDM-1 유전자를 가진 박테리아의 발생과 전파를 분석한 다국적 ...",6490801-2-1,"[{'text': 'The Lancet Infectious Diseases', 'a...",None,None

In [211]:
with open('korquad_processed.json', 'r', encoding='utf-8-sig') as f:
    asd = json.load(f)

In [250]:
w = pd.DataFrame(asd)
w

,title,context,question,id,answers,document_id,__index_level_0__
0,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,바그너는 괴테의 파우스트를 읽고 무엇을 쓰고자 했는가?,6566495-0-0,"[{'text': '교향곡', 'answer_start': 54}]",None,None
1,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,바그너는 교향곡 작곡을 어디까지 쓴 뒤에 중단했는가?,6566495-0-1,"[{'text': '1악장', 'answer_start': 421}]",None,None
2,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,바그너가 파우스트 서곡을 쓸 때 어떤 곡의 영향을 받았는가?,6566495-0-2,"[{'text': '베토벤의 교향곡 9번', 'answer_start': 194}]",None,None
3,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,1839년 바그너가 교향곡의 소재로 쓰려고 했던 책은?,6566518-0-0,"[{'text': '파우스트', 'answer_start': 15}]",None,None
4,파우스트_서곡,1839년 바그너는 괴테의 파우스트을 처음 읽고 그 내용에 마음이 끌려 이를 소재로...,파우스트 서곡의 라단조 조성이 영향을 받은 베토벤의 곡은?,6566518-0-1,"[{'text': '합창교향곡', 'answer_start': 354}]",None,None
...,...,...,...,...,...,...,...
60402,뉴델리_메탈로-베타락타마제,"유전자의 이름은 인도의 수도 뉴델리의 이름을 따 붙여졌는데, 이는 2009년 용 (...",뉴델리 메탈로 베타락마제가 처음 감염 된 지역은 어디인가?,6467478-1-1,"[{'text': '인도', 'answer_start': 73}]",None,None
60403,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",균은 유전자를 균에게 전달 할 수있는데 이러한 현상을 나타낸 용어는 무엇인가?,6467478-2-0,"[{'text': '유전자 전달', 'answer_start': 253}]",None,None
60404,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",박테리아가 NDM-1 유전자를 가지고 있을때 발생하는 전파를 분석하기위해 사용된 영...,6467478-2-1,"[{'text': '37건', 'answer_start': 129}]",None,None
60405,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",NDM-1 유전자를 가진 박테리아가 감수성을 보인 폴리믹슨 계열 항생제는?,6490801-2-0,"[{'text': '콜리스틴', 'answer_start': 404}]",None,None
60406,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...","2010년 8월, NDM-1 유전자를 가진 박테리아의 발생과 전파를 분석한 다국적 ...",6490801-2-1,"[{'text': 'The Lancet Infectious Diseases', 'a...",None,None

In [242]:
from datasets import load_dataset
  
train_dataset = load_dataset("json", data_files="korquad_processed.json")#, split='train')

#train_dataset.save_to_disk("korquad_train")
#valid_dataset.save_to_dsik("korquad_validation")

Using custom data configuration default-fbc91039bdd8829d
Found cached dataset json (/opt/ml/.cache/huggingface/datasets/json/default-fbc91039bdd8829d/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab)
100%|██████████| 1/1 [00:23<00:00, 23.99s/it]

In [246]:
train_dataset['train']

Dataset({
    features: ['title', 'context', 'question', 'id', 'answers', 'document_id', '__index_level_0__'],
    num_rows: 1
})

In [ ]:
trains_ds.save_to_disk("korquad_train")
vals_ds.save_to_dsik("korquad_validation")

In [149]:
nf = pd.DataFrame(columns = ['title', 'context', 'question', 'id', 'answers', 'document_id', '__index_level_0__'])
a = []
dict = {}
dict['title'] = 1
dict['context'] = 2
dict['question'] = 3
dict['id'] = 4
dict['answers'] = 5
dict['document_id'] = 6
dict['__index_level_0__'] = 7
print(dict)

nf = append_row(nf, pd.Series(dict))

{'title': 1, 'context': 2, 'question': 3, 'id': 4, 'answers': 5, 'document_id': 6, '__index_level_0__': 7}

In [630]:
from datasets import Dataset

ds = Dataset.from_file("../data/train_dataset/train/dataset.arrow")
ds

Dataset({
    features: ['title', 'context', 'question', 'id', 'answers', 'document_id', '__index_level_0__'],
    num_rows: 3952
})

In [633]:
a = Dataset.load_from_disk("../data/train_dataset/train")
a

Dataset({
    features: ['title', 'context', 'question', 'id', 'answers', 'document_id', '__index_level_0__'],
    num_rows: 3952
})

In [313]:
df2 = pd.DataFrame(a)
df2

,title,context,question,id,answers,document_id,__index_level_0__
0,미국 상원,미국 상의원 또는 미국 상원(United States Senate)은 양원제인 미국...,대통령을 포함한 미국의 행정부 견제권을 갖는 국가 기관은?,mrc-1-000067,"{'answer_start': [235], 'text': ['하원']}",18293,42
1,인사조직관리,'근대적 경영학' 또는 '고전적 경영학'에서 현대적 경영학으로 전환되는 시기는 19...,현대적 인사조직관리의 시발점이 된 책은?,mrc-0-004397,"{'answer_start': [212], 'text': ['《경영의 실제》']}",51638,2873
2,강희제,강희제는 강화된 황권으로 거의 황제 중심의 독단적으로 나라를 이끌어 갔기에 자칫 전...,강희제가 1717년에 쓴 글은 누구를 위해 쓰여졌는가?,mrc-1-000362,"{'answer_start': [510], 'text': ['백성']}",5028,230
3,금동삼존불감,"불상을 모시기 위해 나무나 돌, 쇠 등을 깎아 일반적인 건축물보다 작은 규모로 만든...",11~12세기에 제작된 본존불은 보통 어떤 나라의 특징이 전파되었나요?,mrc-0-001510,"{'answer_start': [625], 'text': ['중국']}",34146,992
4,계사명 사리구,동아대학교박물관에서 소장하고 있는 계사명 사리구는 총 4개의 용기로 구성된 조선후기...,명문이 적힌 유물을 구성하는 그릇의 총 개수는?,mrc-0-000823,"{'answer_start': [30], 'text': ['4개']}",47334,548
...,...,...,...,...,...,...,...
3947,이오 (위성),이오의 산\n이오의 산 목록\n 이오에는 100~150개의 산이 있다. 이들 산의 ...,대부분의 이오의 산이 형성되는데 영향을 끼친 것은?,mrc-0-005285,"{'answer_start': [317], 'text': ['지질 구조']}",8275,3445
3948,내니 다이어리,애니의 고군분투 뉴욕 입성기!!\n\n인류학자가 꿈인 21살 소녀 '애니(스칼렛 요...,애니는 어디서 태어났는가?,mrc-1-000699,"{'answer_start': [616], 'text': ['뉴저지']}",37764,450
3949,빈 필하모니 관현악단,1842년에 작곡가이자 지휘자인 오토 니콜라이가 빈 궁정 오페라극장 소속 관현악단을...,1854년에 니콜라이의 뒤를 이어 상임 지휘자로서 활동한 인물은?,mrc-0-003429,"{'answer_start': [255], 'text': ['칼 에케르트']}",12730,2252
3950,드래곤,원어는 고대 그리스어까지 거슬러 올라간다. 영어 문헌에 이 말이 나타나기 시작한 것...,드래곤의 암수 구분이 있는 신화는?,mrc-0-003956,"{'answer_start': [476], 'text': ['슬라브 신화']}",10924,2595
3951,2011년 함부르크 주의회 선거,2008년 2월 28일 실시된 2008년 함부르크 주의회 선거에서 기민련은 과반수 ...,올레 폰 보이스트 이후에 시장으로 임명된 사람은 누구인가?,mrc-0-003589,"{'answer_start': [189], 'text': ['크리스토포 알하우스']}",27803,2354

In [339]:
df2 = pd.concat([df2, nf], ignore_index=True)
df2

,title,context,question,id,answers,document_id,__index_level_0__
0,미국 상원,미국 상의원 또는 미국 상원(United States Senate)은 양원제인 미국...,대통령을 포함한 미국의 행정부 견제권을 갖는 국가 기관은?,mrc-1-000067,"{'answer_start': [235], 'text': ['하원']}",18293,42
1,인사조직관리,'근대적 경영학' 또는 '고전적 경영학'에서 현대적 경영학으로 전환되는 시기는 19...,현대적 인사조직관리의 시발점이 된 책은?,mrc-0-004397,"{'answer_start': [212], 'text': ['《경영의 실제》']}",51638,2873
2,강희제,강희제는 강화된 황권으로 거의 황제 중심의 독단적으로 나라를 이끌어 갔기에 자칫 전...,강희제가 1717년에 쓴 글은 누구를 위해 쓰여졌는가?,mrc-1-000362,"{'answer_start': [510], 'text': ['백성']}",5028,230
3,금동삼존불감,"불상을 모시기 위해 나무나 돌, 쇠 등을 깎아 일반적인 건축물보다 작은 규모로 만든...",11~12세기에 제작된 본존불은 보통 어떤 나라의 특징이 전파되었나요?,mrc-0-001510,"{'answer_start': [625], 'text': ['중국']}",34146,992
4,계사명 사리구,동아대학교박물관에서 소장하고 있는 계사명 사리구는 총 4개의 용기로 구성된 조선후기...,명문이 적힌 유물을 구성하는 그릇의 총 개수는?,mrc-0-000823,"{'answer_start': [30], 'text': ['4개']}",47334,548
...,...,...,...,...,...,...,...
124761,뉴델리_메탈로-베타락타마제,"유전자의 이름은 인도의 수도 뉴델리의 이름을 따 붙여졌는데, 이는 2009년 용 (...",뉴델리 메탈로 베타락마제가 처음 감염 된 지역은 어디인가?,6467478-1-1,"[{'text': '인도', 'answer_start': 73}]",NaN,NaN
124762,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",균은 유전자를 균에게 전달 할 수있는데 이러한 현상을 나타낸 용어는 무엇인가?,6467478-2-0,"[{'text': '유전자 전달', 'answer_start': 253}]",NaN,NaN
124763,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",박테리아가 NDM-1 유전자를 가지고 있을때 발생하는 전파를 분석하기위해 사용된 영...,6467478-2-1,"[{'text': '37건', 'answer_start': 129}]",NaN,NaN
124764,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...",NDM-1 유전자를 가진 박테리아가 감수성을 보인 폴리믹슨 계열 항생제는?,6490801-2-0,"[{'text': '콜리스틴', 'answer_start': 404}]",NaN,NaN
124765,뉴델리_메탈로-베타락타마제,"2010년 8월, 저널 The Lancet Infectious Diseases에 최...","2010년 8월, NDM-1 유전자를 가진 박테리아의 발생과 전파를 분석한 다국적 ...",6490801-2-1,"[{'text': 'The Lancet Infectious Diseases', 'a...",NaN,NaN

In [600]:
#df2 = df2.drop(['document_id', '__index_level_0__'], axis = 1)
df2.columns

Index(['title', 'context', 'question', 'id', 'answers'], dtype='object')

In [608]:
df2.to_json('data_dropped_added_korquad2.json', orient='records')

In [709]:
input_filename = '../data/KorQuAD_v1.0_train.json'
output_filename = "korquad.json"

with open(input_filename, 'r', encoding='utf-8-sig') as f:
    dataset = json.load(f)

with open(output_filename, 'w') as f:
    for article in dataset["data"]:
        title = article["title"]
        #title = "title" #this covid json file has no title but Squad 2.0 requires title, so I put fake one
        for paragraph in article["paragraphs"]:
            context = paragraph["context"]
            answers = {}
            for qa in paragraph["qas"]:
                question = qa["question"]
                idx = qa["id"]
                answers["text"] = [a["text"] for a in qa["answers"]]
                answers["answer_start"] = [a["answer_start"] for a in qa["answers"]]
                f.write(
                    json.dumps(
                        {
                            "title": title,
                            "context": context,
                            "question": question,
                            "id": idx,
                            "answers": answers,
                        }
                    )
                )
                f.write("\n")

In [710]:
dss = load_dataset("json", data_files=output_filename)

Using custom data configuration default-b02c3d2329a1bd9d

Downloading and preparing dataset json/default to /opt/ml/.cache/huggingface/datasets/json/default-b02c3d2329a1bd9d/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab...

Downloading data files: 100%|██████████| 1/1 [00:00<00:00, 5084.00it/s]

Extracting data files: 100%|██████████| 1/1 [00:00<00:00, 636.95it/s]

Generating train split: 0 examples [00:00, ? examples/s]
Generating train split: 4094 examples [00:00, 34189.11 examples/s]
Generating train split: 20211 examples [00:00, 92580.75 examples/s]
Generating train split: 36306 examples [00:00, 111431.21 examples/s]
Generating train split: 52404 examples [00:00, 118798.98 examples/s]

Dataset json downloaded and prepared to /opt/ml/.cache/huggingface/datasets/json/default-b02c3d2329a1bd9d/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab. Subsequent calls will reuse this data.

100%|██████████| 1/1 [00:00<00:00, 68.31it/s]

In [712]:
dss

DatasetDict({
    train: Dataset({
        features: ['title', 'context', 'question', 'id', 'answers'],
        num_rows: 60407
    })
})

In [713]:
#ds = dss['train'].train_test_split(test_size=0.1, shuffle=False)
train_dataset, validation_dataset= dss['train'].train_test_split(test_size=0.1).values()
train_dataset

Dataset({
    features: ['title', 'context', 'question', 'id', 'answers'],
    num_rows: 54366
})

In [714]:
validation_dataset

Dataset({
    features: ['title', 'context', 'question', 'id', 'answers'],
    num_rows: 6041
})

In [460]:
dataset = DatasetDict({'train': train_dataset, 'validation': validation_dataset})
dataset.save_to_disk("korquad")

Flattening the indices: 100%|██████████| 55/55 [00:03<00:00, 17.50ba/s]
Flattening the indices: 100%|██████████| 7/7 [00:00<00:00, 19.57ba/s]

In [426]:
from datasets import Dataset, DatasetDict, load_dataset, load_from_disk
 
#test_dataset = load_from_disk('data_dropped_added_korquad2.json')

test_dataset = load_dataset("json", data_files="korquad.json")#, field='data')#, field='train')#['train']#, field="data")#["train"]

test_dataset.save_to_disk("korquad")

Using custom data configuration default-0a6f22835a309386
Found cached dataset json (/opt/ml/.cache/huggingface/datasets/json/default-0a6f22835a309386/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab)
100%|██████████| 1/1 [00:00<00:00, 73.83it/s]

In [461]:
added_dss = load_dataset("json", data_files=output_filename)

Using custom data configuration default-0a6f22835a309386
Found cached dataset json (/opt/ml/.cache/huggingface/datasets/json/default-0a6f22835a309386/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab)
100%|██████████| 1/1 [00:00<00:00, 78.19it/s]

In [629]:
added_dss['train']

Dataset({
    features: ['title', 'context', 'question', 'id', 'answers'],
    num_rows: 60407
})

In [473]:
df_added = pd.DataFrame(added_dss)

In [474]:
df_added

                                                   train
0      {'title': '파우스트_서곡', 'context': '1839년 바그너는 괴테...
1      {'title': '파우스트_서곡', 'context': '1839년 바그너는 괴테...
2      {'title': '파우스트_서곡', 'context': '1839년 바그너는 괴테...
3      {'title': '파우스트_서곡', 'context': '1839년 바그너는 괴테...
4      {'title': '파우스트_서곡', 'context': '1839년 바그너는 괴테...
...                                                  ...
60402  {'title': '뉴델리_메탈로-베타락타마제', 'context': '유전자의 이...
60403  {'title': '뉴델리_메탈로-베타락타마제', 'context': '2010년 ...
60404  {'title': '뉴델리_메탈로-베타락타마제', 'context': '2010년 ...
60405  {'title': '뉴델리_메탈로-베타락타마제', 'context': '2010년 ...
60406  {'title': '뉴델리_메탈로-베타락타마제', 'context': '2010년 ...

[60407 rows x 1 columns]

In [687]:
ds_arrow = Dataset.from_file("../data/train_dataset/train/dataset.arrow")
df_arrow = pd.DataFrame(ds_arrow)
df_arrow = df_arrow.drop(['document_id', '__index_level_0__'], axis = 1)
ds_arrow

Dataset({
    features: ['title', 'context', 'question', 'id', 'answers', 'document_id', '__index_level_0__'],
    num_rows: 3952
})

In [763]:
output_filename = 'original_dataset.json'
with open(output_filename, 'w') as f:
    for article in ds_arrow:
        title = article["title"]
        context = article["context"]
        question = article["question"]
        idx = article["id"]
        answers = {}
        answers['text'] = article['answers']['text']
        answers['answer_start'] = article['answers']['answer_start']
        #array = [answers]
        #print(answers)
        
        f.write(
            json.dumps(
                {
                    "title": title,
                    "context": context,
                    "question": question,
                    "id": idx,
                    "answers": answers,
                }
            )
        )
        f.write("\n")

In [764]:
original_dss = load_dataset("json", data_files=output_filename)

Using custom data configuration default-446e043134cde454

Downloading and preparing dataset json/default to /opt/ml/.cache/huggingface/datasets/json/default-446e043134cde454/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab...

Downloading data files: 100%|██████████| 1/1 [00:00<00:00, 5262.61it/s]

Extracting data files: 100%|██████████| 1/1 [00:00<00:00, 698.47it/s]

Generating train split: 0 examples [00:00, ? examples/s]

Dataset json downloaded and prepared to /opt/ml/.cache/huggingface/datasets/json/default-446e043134cde454/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab. Subsequent calls will reuse this data.

100%|██████████| 1/1 [00:00<00:00, 268.59it/s]

In [765]:
original_dss

DatasetDict({
    train: Dataset({
        features: ['title', 'context', 'question', 'id', 'answers'],
        num_rows: 3952
    })
})

In [766]:
from datasets import concatenate_datasets, load_dataset
#assert dss.type == original_dss..type
total_dataset = concatenate_datasets([dss['train'], original_dss['train']])

In [769]:
train_dataset, validation_dataset= total_dataset.train_test_split(test_size=0.1).values()
dataset = DatasetDict({'train': train_dataset, 'validation': validation_dataset})
dataset.save_to_disk("origin_added_korquad")

Flattening the indices:   0%|          | 0/58 [00:00<?, ?ba/s]
Flattening the indices:   3%|▎         | 2/58 [00:00<00:03, 16.56ba/s]
Flattening the indices:   7%|▋         | 4/58 [00:00<00:03, 16.92ba/s]
Flattening the indices:  10%|█         | 6/58 [00:00<00:02, 17.38ba/s]
Flattening the indices:  14%|█▍        | 8/58 [00:00<00:02, 17.44ba/s]
Flattening the indices:  17%|█▋        | 10/58 [00:00<00:02, 17.50ba/s]
Flattening the indices:  21%|██        | 12/58 [00:00<00:02, 17.64ba/s]
Flattening the indices:  24%|██▍       | 14/58 [00:00<00:02, 17.76ba/s]
Flattening the indices:  28%|██▊       | 16/58 [00:00<00:02, 17.23ba/s]
Flattening the indices:  31%|███       | 18/58 [00:01<00:02, 17.36ba/s]
Flattening the indices:  34%|███▍      | 20/58 [00:01<00:02, 17.37ba/s]
Flattening the indices:  38%|███▊      | 22/58 [00:01<00:02, 17.40ba/s]
Flattening the indices:  41%|████▏     | 24/58 [00:01<00:01, 17.53ba/s]
Flattening the indices:  45%|████▍     | 26/58 [00:01<00:01, 17.62ba/s]
Flattening the indices:  48%|████▊     | 28/58 [00:01<00:01, 17.69ba/s]
Flattening the indices:  52%|█████▏    | 30/58 [00:01<00:01, 17.83ba/s]
Flattening the indices:  55%|█████▌    | 32/58 [00:01<00:01, 17.82ba/s]
Flattening the indices:  59%|█████▊    | 34/58 [00:01<00:01, 17.80ba/s]
Flattening the indices:  62%|██████▏   | 36/58 [00:02<00:01, 17.72ba/s]
Flattening the indices:  66%|██████▌   | 38/58 [00:02<00:01, 17.79ba/s]
Flattening the indices:  69%|██████▉   | 40/58 [00:02<00:01, 17.87ba/s]
Flattening the indices:  72%|███████▏  | 42/58 [00:02<00:00, 17.96ba/s]
Flattening the indices:  76%|███████▌  | 44/58 [00:02<00:00, 17.94ba/s]
Flattening the indices:  79%|███████▉  | 46/58 [00:02<00:00, 17.90ba/s]
Flattening the indices:  83%|████████▎ | 48/58 [00:02<00:00, 17.93ba/s]
Flattening the indices:  86%|████████▌ | 50/58 [00:02<00:00, 17.94ba/s]
Flattening the indices:  90%|████████▉ | 52/58 [00:02<00:00, 17.95ba/s]
Flattening the indices:  93%|█████████▎| 54/58 [00:03<00:00, 17.81ba/s]
Flattening the indices:  97%|█████████▋| 56/58 [00:03<00:00, 17.79ba/s]
Flattening the indices: 100%|██████████| 58/58 [00:03<00:00, 17.65ba/s]

Flattening the indices:   0%|          | 0/7 [00:00<?, ?ba/s]
Flattening the indices:  29%|██▊       | 2/7 [00:00<00:00, 17.46ba/s]
Flattening the indices:  57%|█████▋    | 4/7 [00:00<00:00, 17.60ba/s]
Flattening the indices: 100%|██████████| 7/7 [00:00<00:00, 19.07ba/s]

In [704]:
ori_df = pd.DataFrame(original_dss)
ori_df

                                                  train
0     {'title': '미국 상원', 'context': '미국 상의원 또는 미국 상원...
1     {'title': '인사조직관리', 'context': ''근대적 경영학' 또는 '...
2     {'title': '강희제', 'context': '강희제는 강화된 황권으로 거의 ...
3     {'title': '금동삼존불감', 'context': '불상을 모시기 위해 나무나...
4     {'title': '계사명 사리구', 'context': '동아대학교박물관에서 소장...
...                                                 ...
3947  {'title': '이오 (위성)', 'context': '이오의 산\n이오의 산 ...
3948  {'title': '내니 다이어리', 'context': '애니의 고군분투 뉴욕 입...
3949  {'title': '빈 필하모니 관현악단', 'context': '1842년에 작곡...
3950  {'title': '드래곤', 'context': '원어는 고대 그리스어까지 거슬러...
3951  {'title': '2011년 함부르크 주의회 선거', 'context': '200...

[3952 rows x 1 columns]

In [705]:
nf = pd.concat([ori_df, df_added], ignore_index=True)
nf

                                                   train
0      {'title': '미국 상원', 'context': '미국 상의원 또는 미국 상원...
1      {'title': '인사조직관리', 'context': ''근대적 경영학' 또는 '...
2      {'title': '강희제', 'context': '강희제는 강화된 황권으로 거의 ...
3      {'title': '금동삼존불감', 'context': '불상을 모시기 위해 나무나...
4      {'title': '계사명 사리구', 'context': '동아대학교박물관에서 소장...
...                                                  ...
60402  {'title': '뉴델리_메탈로-베타락타마제', 'context': '유전자의 이...
60403  {'title': '뉴델리_메탈로-베타락타마제', 'context': '2010년 ...
60404  {'title': '뉴델리_메탈로-베타락타마제', 'context': '2010년 ...
60405  {'title': '뉴델리_메탈로-베타락타마제', 'context': '2010년 ...
60406  {'title': '뉴델리_메탈로-베타락타마제', 'context': '2010년 ...

[64359 rows x 1 columns]

In [706]:
nf.to_json('data_origin_added_korquad.json', orient='records')

In [707]:
ds_ori_kor = load_dataset("json", data_files="data_origin_added_korquad.json")

#test_dataset.save_to_disk("korquad")

Using custom data configuration default-38f7ca38d25beb30

Downloading and preparing dataset json/default to /opt/ml/.cache/huggingface/datasets/json/default-38f7ca38d25beb30/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab...

Downloading data files: 100%|██████████| 1/1 [00:00<00:00, 5223.29it/s]

Extracting data files: 100%|██████████| 1/1 [00:00<00:00, 635.02it/s]

Generating train split: 0 examples [00:00, ? examples/s]
Generating train split: 64359 examples [00:07, 8177.57 examples/s]

Dataset json downloaded and prepared to /opt/ml/.cache/huggingface/datasets/json/default-38f7ca38d25beb30/0.0.0/e6070c77f18f01a5ad4551a8b7edfba20b8438b7cad4d94e6ad9378022ce4aab. Subsequent calls will reuse this data.

100%|██████████| 1/1 [00:00<00:00, 259.20it/s]

In [708]:
train_dataset, validation_dataset= ds_ori_kor['train'].train_test_split(test_size=0.1).values()
ds_ori_kor

DatasetDict({
    train: Dataset({
        features: ['train'],
        num_rows: 64359
    })
})

In [577]:
print(train_dataset['train'].column_names)#.column_names)#, 
validation_dataset

AttributeError: 'list' object has no attribute 'column_names'

In [536]:
dataset = DatasetDict({'train': train_dataset, 'validation': validation_dataset})
dataset.save_to_disk("origin_added_korquad")

Flattening the indices: 100%|██████████| 58/58 [00:03<00:00, 16.31ba/s]
Flattening the indices: 100%|██████████| 7/7 [00:00<00:00, 17.11ba/s]