In [795]:
import json
import pandas as pd

In [796]:
with open('predictions_hybrid.json') as f:
    hybrid_json = json.loads(f.read())
hybrid_df = pd.DataFrame(hybrid_json,  index=['hybrid'])
hybrid_df = hybrid_df.transpose()

In [835]:
with open('predictions_sparse.json') as f:
    sparse_json = json.loads(f.read())
sparse_df = pd.DataFrame(sparse_json,  index=['sparse'])
sparse_df = sparse_df.transpose()

In [836]:
with open('predictions_dense.json') as f:
    dense_json = json.loads(f.read())
dense_df = pd.DataFrame(dense_json,  index=['dense'])
dense_df = dense_df.transpose()

In [837]:
compare_df = pd.concat([hybrid_df, sparse_df], axis=1)
compare_df

                       hybrid           sparse
mrc-1-000653          네페로스 행성          네페로스 행성
mrc-1-001113            냉전 종식            냉전 종식
mrc-0-002191         빌헬름 미클라스    대통령인 빌헬름 미클라스
mrc-0-003951             뉴질랜드             뉴질랜드
mrc-1-001272              프랑스              프랑스
...                       ...              ...
mrc-0-002989  슈라우드(=소노자키 후미네)  슈라우드(=소노자키 후미네)
mrc-0-001804          자유당계 인사         자유당계 인사들
mrc-0-003411         서스펜디드 게임         서스펜디드 게임
mrc-0-003436            디에프 항            디에프 항
mrc-0-002605              콘드률              콘드률

[600 rows x 2 columns]

In [839]:
compare_df['EM'] = (compare_df['hybrid'] == compare_df['sparse'])
compare_df['EM'] = compare_df['EM'].map(bool).map(int)

In [840]:
compare_df

                       hybrid           sparse  EM
mrc-1-000653          네페로스 행성          네페로스 행성   1
mrc-1-001113            냉전 종식            냉전 종식   1
mrc-0-002191         빌헬름 미클라스    대통령인 빌헬름 미클라스   0
mrc-0-003951             뉴질랜드             뉴질랜드   1
mrc-1-001272              프랑스              프랑스   1
...                       ...              ...  ..
mrc-0-002989  슈라우드(=소노자키 후미네)  슈라우드(=소노자키 후미네)   1
mrc-0-001804          자유당계 인사         자유당계 인사들   0
mrc-0-003411         서스펜디드 게임         서스펜디드 게임   1
mrc-0-003436            디에프 항            디에프 항   1
mrc-0-002605              콘드률              콘드률   1

[600 rows x 3 columns]

In [841]:
score = compare_df['EM'].mean()
score

0.89